/* Homepage styles*/

.carousel-inner img {
    height: 300px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.card-custom {
    margin-top: 20px;
}

.card-custom .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
