/*General Page styles*/

/*Button Styles*/
.search-options {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, button {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: rgb(49,74, 78);
    color: white;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-color: rgb(186, 201, 180);
}

#results {
    margin-top: 20px;
    border: 3px solid red;
}





